<% var page = "index" %>

<% include partials/header %>

<div class="container">
    <div class="jumbotron text-center">
        <h1><span class="glyphicon glyphicon-knight"></span> 4ah4e </h1>

        <div class="jumbotron text-center">
          <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
          <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
          <br>
          <br>
          <br>
          <br>
          <h4>Log in with</h4>
          <br>
          <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
        </div>
    </div>
</div>
<% include partials/footer %>