
<% var page = "profile" %>

<% include partials/header %>

<div class="container">
    <div class="page-header text-center">
        <h1><span class="glyphicon glyphicon-home"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="jumbotron text-center">
    </div>
</div>

<% include partials/footer %>